<div style='margin:auto; width:650px'> 
  <div style='float:right; margin-top:50px; margin-left: 30px;'>
    <%= image_tag @facebook_user.pic_square, :align => 'left' %>
    <b><%= @facebook_user.name %></b>
    <br/>
  </div>
<div style='float:right'>
  <h1>What are you doing?</h1>
  <% form_for @status, {:controller => "status", :action => :create} do |f| %>
    <%= text_area @status, :message, :cols => 40, :rows => 2 %> 
    <br/><%= f.submit "update", :style => "margin-left:260px; margin-top:10px;" %>
  <% end %>
  <% @statuses.each do |status| %>
    <div style='border-top:1px dashed #aaa; padding:15px; height: 50px; width: 290px'><%= status.message %></div>
  <% end %>
  <div style='border-top:1px dashed #aaa; padding:15px; height: 50px; width: 290px'></div>
</div>

</div>
